.video-list-container {
  max-width: 800px;
  margin: 0 auto;
}

.video-list-container h2 {
  font-size: 1.5em;
  margin-bottom: 15px;
}

.video-list-container input[type="text"], .video-list-container button {
  padding: 8px;
  margin-bottom: 10px;
}

.video-list-container ul {
  list-style-type: none;
  padding: 0;
}

.video-list-container li {
  margin-bottom: 10px;
}

.video-list-container img {
  max-width: 100%;
  height: auto;
}

.container {
  width: 100%;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  ;
}

.title{
  font-size: small;
  max-height: 25px;
}

.actions{
  height: 100px;
}

.example-card {
  width: 250px;
  height: 270px;
}

.input{
  display: flex;
  gap: 10px;
  align-items: center;
}

.example-header-image {
  background-size: cover;
}
